<!-- <section>
    <div class="custom-container">
        <form class="form-style-7">
            <div class="form-box search-box mb-19">
                <input type="search" class="form-control" placeholder="Search here..">
                <i class="ri-search-line"></i>
                <i class="ri-mic-line mic-icon"></i>
            </div>
        </form>
    </div>
</section> -->
<!-- Search Section End -->

<!-- Category Section Start -->
<section class="bottom-space">
    <div class="custom-container">
        <div class="title mb-10">
            <h4>Menu Utama</h4>
        </div>

        <!-- <ul class="category-list-2">
            <li>
                <a href="<%=baseUrl%>/order" class="category-box-2">
                    <div class="category-image">
                        <img src="/assets/images/grocery/product/1.png" class="img-fluid" alt="">
                    </div>
                    <span>Order</span>
                </a>
            </li>
            <li>
                <a href="<%=baseUrl%>/location/search" class="category-box-2">
                    <div class="category-image">
                        <img src="/assets/images/grocery/product/1.png" class="img-fluid" alt="">
                    </div>
                    <span>Cari Alamat</span>
                </a>
            </li>
        </ul> -->
    </div>
</section>
<!-- Category Section End -->


<!-- Mobile Section Start -->
<!-- <div class="mobile-style-6">
    <ul>
        <li>
            <a href="index.html" class="mobile-box">
                <i class="ri-home-line"></i>
                <h6>Home</h6>
            </a>
        </li>

        <li class="active">
            <a href="category.html" class="mobile-box">
                <i class="ri-file-copy-line"></i>
                <h6>Category</h6>
            </a>
        </li>

        <li>
            <a href="search.html" class="mobile-box">
                <i class="ri-search-line"></i>
                <h6>Search</h6>
            </a>
        </li>

        <li>
            <a href="cart.html" class="mobile-box">
                <i class="ri-shopping-cart-line"></i>
                <h6>Cart</h6>
            </a>
        </li>

        <li>
            <a href="account.html" class="mobile-box">
                <i class="ri-user-3-line"></i>
                <h6>Profile</h6>
            </a>
        </li>
    </ul>
</div> -->